%p#notice= notice
%h1 Listing Items
= link_to 'CSV形式でダウンロード', items_path(format: "csv")
= form_tag import_csv_items_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import"
%table
  %thead
    %tr
      %th Name
      %th Image
      %th{:colspan => "3"}
  %tbody
    - @items.each do |item|
      %tr
        %td= item.name
        %td=image_tag image_item_path(item)
        %td= link_to 'Show', item
        %td= link_to 'Edit', edit_item_path(item)
        %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Item', new_item_path
